---
import Layout from '../layouts/Layout.astro';
import '../styles/home.css';
---

<Layout title="Jan Havlín">
  <header class="hero-header">
    <div class="hero-header__inner">
      <a href="/profile" class="site-header__item site-nav__link">Profile</a>
      <a href="/writing" class="site-header__item site-nav__link">Writing</a>
      <a href="/contact" class="site-header__item site-nav__link">Contact</a>
    </div>
  </header>
  <section class="hero">
    <h1>Jan Havlín</h1>
    <h2>Backend Systems & Architecture</h2><!--<h2>Software Development</h2>-->
    <p class="tagline">
      Building reliable, fast and high-impact backend systems from the ground up
    </p>
  </section>
</Layout>
