---
import Layout from '../layouts/Layout.astro';
import '../styles/home.css';
---

<Layout title="Jan Havlín">
  <header class="hero-header">
    <div class="hero-header__inner">
      <a href="/profile" class="site-header__item site-nav__link">Profile</a>
      <a href="/writing" class="site-header__item site-nav__link">Writing</a>
      <a href="/contact" class="site-header__item site-nav__link">Contact</a>
    </div>
  </header>
  <h1>
    Hello
  </h1>  
  <section class="hero">
      <!-- <br/><span class="tagline">I am your specialist,</span><br/> -->
      <section class="credentials">
      <h1>Jan Havlín</h1>
      <h2>Backend&nbsp;Architecture &amp;&nbsp;Systems</h2>
      </section>
    <!-- <p class="tagline">
      Building reliable, fast and high-<span class="tagline__no-break"
        >impact software</span
      > from <span class="tagline__no-break">the ground up</span>
    </p> -->
    <!-- <p class="tagline">
      <span class="tagline__no-break">Building reliable, fast and high-impact</span> software from <span class="tagline__no-break">the ground up</span>
    </p> -->
    <p class="tagline">
      Building reliable, fast and high-impact software from the ground up
    </p>
  </section>
</Layout>
